<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="QuestionBoxText" value="Введите текст вопроса"/>
		<add key="AnswerBoxText" value="Введите вариант ответа"/>
		<add key="TitleBoxText" value="Введите название теста"/>
		<add key="DescriptionBoxText" value="Введите описание для теста (здесь может быть краткая информация, необходимая обучающемуся до тестирования)"/>
	</appSettings>
	<connectionStrings>
	</connectionStrings>
</configuration>