<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ProgrammName" value="Тестириум" />
		<add key="QuestionBoxText" value="Введите текст вопроса" />
		<add key="AnswerBoxText" value="Введите вариант ответа" />
		<add key="TitleBoxText" value="Введите название теста" />
		<add key="DescriptionBoxText" value="Введите описание для теста (здесь может быть краткая информация, необходимая обучающемуся до тестирования)" />
		<add key="OneAnswerQuestionButtonText" value="Вопрос с одним ответом" />
		<add key="MultipleAnswerQuestionButtonText" value="Вопрос с несколькими ответами" />
		<add key="TextAnswerQuestionButtonText" value="Вопрос с текстовым набором ответа" />
		<add key="SequencingAnswerQuestionButtonText" value="Вопрос на последовательность" />
		<add key="MatchAnswerQuestionButtonText" value="Вопрос на соответствие" />
		<add key="WarningDeleteAnswersMessage" value="Вы достигли максимального количества удалений!" />
		<add key="DefaultPercentageValue" value="0%" />
		<add key="DefaultPasswordText" value="Введите пароль" />
		<add key="PasswordChar" value="•" />
		<add key="DefaultMinuteValue" value="10 мин" />
		<add key="WarningAddingMoreDefinitions" value="Определений не может быть больше чем соответствий!" />
	</appSettings>
	<connectionStrings>
		<add name="TestingSystemDBConnection" providerName="MySql.Data.MySqlClient" connectionString="server=185.154.195.110;uid=levanid;pwd=Klopinka123;database=testingSystem;" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>